@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght,ROND@6..144,1..1000,30&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');

body{
	background: rgb(0,0,0);
	color: white;
}

p{
	font-family: "Google Sans Flex";
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Google Sans Flex";
    font-weight: 600;
}

h1::after,
h2::after,
h3::after,
h4::after,
h5::after,
h6::after {
    content: "";
}

h1:hover::after,
h2:hover::after,
h3:hover::after,
h4:hover::after,
h5:hover::after,
h6:hover::after {
    content: " #";
    color: blueviolet;
}

strong, b{
	font-family: "Google Sans Flex";
	font-weight: 900;
}

em, i{
	font-family: "Google Sans Flex";
	font-weight: 500;
	font-style: italic;
}

a{
	font-family: "Google Sans Flex";
	font-weight: 500;
	color: blueviolet;
}

a:hover{
	color: blueviolet;
	text-decoration: underline;
}
code{
	font-family: "JetBrains Mono";
	background: rgb(33,33,33);
}

pre{
	font-family: "JetBrains Mono";
	background: rgb(33,33,33);
	padding: 4px;
}

blockquote{
	border-left: 2px solid blueviolet;
	padding-left: 6px;
}

hr{
	background: rgba(138, 43, 226, 0.6);
}

/* ---- Lists ---- */
ul, ol {
    font-family: "Google Sans Flex";
    font-weight: 500;
    color: white;
    padding-left: 1.2em;
    margin: 0.5em 0;
}

li {
    margin: 0.2em 0;
}

/* ---- Tables ---- */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Google Sans Flex";
    font-weight: 500;
    color: white;
}

th, td {
    border: 1px solid blueviolet;
    padding: 6px 10px;
}

th {
    background: rgba(138, 43, 226, 0.6);
    font-weight: 700;
}

tr:nth-child(even) {
    background: rgba(0,0,90,0.3);
}
